<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-12 mt-5">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-4 mb-5">
            <div class="col-12 shadow border-top-0 rounded text-dark p-5">
              <div
                class="text-center rounded-circle border py-3 mx-auto btn-primary circle"
              >
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="defaultCheck1"
                    style="background-color: rgba(78, 221, 66, 1)"
                    checked
                  />
                </div>
              </div>

              <h5 class="text-center fw-semibold poppins mt-2">
                Payment Successful

              </h5>
              <h3 class="text-center fw-bold poppins mt-2">
                $70.00

              </h3>

              <div class="border border-bottom border-dark mt-2"></div>

              <div class="d-flex flex-column mt-3">

                <div class="row poppins">
                    <h6 class="col-6">Draw ticket number:</h6>
                    <h6 class="col-6 text-secondary">000085752257</h6>
                </div>
                <div class="row mt-5 poppins">
                    <h6 class="col-6">Payment Time:</h6>
                    <h6 class="col-6 text-secondary">25 Feb 2023, 13:22</h6>
                </div>
                <div class="row mt-5 poppins">
                    <h6 class="col-6">Payment Method:</h6>
                    <h6 class="col-6 text-secondary">Paypal</h6>
                </div>
                <div class="row mt-5 poppins">
                    <h6 class="col-6">Sender Name:</h6>
                    <h6 class="col-6 text-secondary">Antonio Luiz</h6>
                </div>
              </div>

              <div class="d-flex align-items-center justify-content-center mt-5">

                  <i class="fa-solid fa-download fa-sm"></i>
                  <h6 class="ms-2 text-center fw-normal poppins">Get PDF Receipt</h6>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
