<section>
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 mt-5">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 mb-5">
              <div class="col-12 shadow border-top-0 rounded text-dark p-5 mb-5">
  
                <form class="row mt-5 mb-5" [formGroup]="signForm">
                    <div class="col-12 mb-3">
                      <label for="exampleInputEmail1" class="form-label poppins fw-bold text-secondary fs-5">Current Password</label>
                      <input  [type]="showPassword ? 'text' : 'password'" formControlName="oldpassword" [(ngModel)]="pword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <label>
                        <input type="checkbox" (change)="togglePasswordVisibility()">
                        Show password
                      </label>
                    </div>
                    <div class="col-12 mb-3">
                      <label for="exampleInputEmail1" class="form-label poppins fw-bold text-secondary fs-5">New Password</label>
                      <input [type]="SPassword ? 'text' : 'password'" formControlName="newpassword" [(ngModel)]="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <label>
                        <input type="checkbox" (change)="toggleNPasswordVisibility()">
                        Show password
                      </label>
                    </div>

                    <div class="col-12 text-center">
                        <button
                          type="submit"
                          class="poppins fw-semibold btn btn-dark px-5"
                          (click)="goto($event)"
                          
                        >
                          Submit
                        </button>

                    </div>

                  </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  