<section>
    <div class="container-fluid">
      <div class="col-12 mt-5">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="text-light ">
              <img
                src="../../../../../assets/images/Rectangle 33.svg"
                class="card-img img-fluid img-size"
                alt="..."
              />
            </div>
    
            <div class="row mt-3">
              <div
                class="col-2 col-md-2 col-lg-2 mb-2 me-6"
                *ngFor="let items of product"
              >
                <div class="hver">
                  <img src="{{ items.images }}" class="card-img flipflop" alt="" />
                </div>
              </div>
            </div>
          </div>
    
          <div class="col-12 col-md-6 col-lg-5">
            
            <div class="star">
                  <div class="d-flex align-items-center justify-content-start">
                    
                    <i
                      class="fa-sharp fa-solid fa-star"
                      style="color: #fdcc0d"
                    ></i>
                    <h3 class="poppins mt-1 mx-2 fw-bold">4.9</h3>
                    <h6 class="text-muted poppins mt-2 mx-2 fw-lighter">(85)</h6>
                    <h5 class="poppins mt-2 text-dark">Reviews</h5>
                  </div>
              </div>


              
              
              <div class="d-flex align-items-center justify-content-between space">
                <h3 class="fw-bold mt-5 text-dark">Swedish Flipflop</h3>
                <h3 class="fw-bold mt-5 text-end ms-6 f16">$7.50</h3>

              </div>
    
              <div class="">
                <h5 class="fw-bold mt-3 f23">Product description:</h5>
                <h3 class="fw-light mt-4 lh-md f23">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum
                  nec morbi pellentesque lacus, aenean enim diam dolor. Dignissim
                  porttitor magna quis facilisis elit lorem elit arcu. Sit mattis
                  cursus feugiat a a arcu facilisis ipsum tortor. Arcu quisque
                  tincidunt cras vehicula id et vulputate. Ut facilisis viverra nunc
                  tempus. Id
                </h3>
              </div>
    
              <div class="row space">
                <div class="col-6 col-md-6 col-lg-6 mb-5">
                  <div class="border pad">
                    <div class="d-flex mt-1 mb-2 align-items-center justify-content-between px-4">
                        <button
                      class="btn btn-secondary rounded-3 text-dark fw-bold"
                      type="button"
                      (click)="decrement()"
                    > -
                    </button>
                    <h4 class="poppins fw-bold">{{count}}</h4>
                    <button
                      class="btn btn-secondary rounded-3 text-dark fw-bold"
                      type="button"
                      (click)="increment()"
                    >
                    +
                    </button>
                    </div>
                  </div>
                </div>
    
                <div class="col-6 col-md-6 col-lg-6"*ngFor="let item of allProducts">
                  
                  <div class="text-center">
                    <button
                    type="submit"
                    class="btn btn-info mb-5 rounded-3 fw-bold"
                    (click)="addtocart(item)"
                  >
                    Add to cart
            
                  </button>
      
                  </div>
                </div>
              </div>
          
          </div>
        </div>
      </div>
    </div>
</section>

<div class="container-fluid mt-5" style="margin-bottom: 20rem;">




  <div class="col-12 mt-4">
    <h3 class="text-start poppins fw-bold mt-2 text-dark">Recommend</h3>

    <div class="row mt-2">

      <div
        class="col-12 col-md-6 col-lg-3 mb-4 ms-auto"
        *ngFor="let item of allProducts"
        [routerLink]="['/homepage/index/products/products-detail']"
        (click)=" scrollToTop()"
        
      >
        <div class="border border-top-0 shadow rounded-4 dash">
          <img
            id="targetedImage"
            class="mx-auto recommend-img"
            alt="targeted picture"
            src="{{ getTargetedImageUrl1() }}"
            
          />
          <div class="recommend">
            <div class="caption star smallbox fw-bold"><i class="fa-sharp fa-solid fa-star" style="color: #fdcc0d;"></i>  4.9</div>
            

            <img id="targetedImage" src="{{ getTargetedImageUrl() }}" alt="Second Picture" class="img2" />
            <!-- <img src="{{item.free}}" alt="" class="img2"> -->
            <div class="text-end">
            </div>
          </div>
          <div class="mt-2">
            <div class="container distance">
              <div class="row">
                <div class="col-7 ">
                  <h3 class="fw-bold poppins fs-6">{{ item.product_name }}</h3>
                  <p class="card-text text-dark mt-3">800 sold out of 2,000</p>
                  <div
                    class="progress bg-dange mt-1"
                    role="progressbar"
                    aria-label="Basic example"
                    aria-valuenow="0"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <div
                      class="progress-bar brown"
                      style="width: 40%"
                    ></div>
                  </div>
                  <p class="mb-5 mt-2">
                    Buy Flipflop for:
                    <span style="color: #cc9933">₦{{item.product_price}}</span>
                  </p>
                </div>
                <div class="col-5">
                  <p class="f-10">Draw date:26th April</p>
                </div>
              </div>
              <button
              type="submit"
              class="btn btn-dark mb-5 rounded-3 button-reccomend"
             
              
            >
              Add to cart
              <i class="fa-solid fa-bag-shopping"></i>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- <div class="row mt-3">
  <div
        class="col-12 col-md-6 col-lg-3 mb-4 ms-auto"
        *ngFor="let item of recommend"
        [routerLink]="['/homepage/index/products/products-detail']"
      >
        <div class="border border-top-0 shadow rounded-4 dash">
          <img
            src="{{ item.images }}"
            class="mx-auto recommend-img"
            alt=""
            
          />
          <div class="recommend">
            <div class="caption stars smallbox fw-bold"><i class="fa-sharp fa-solid fa-star" style="color: #fdcc0d;"></i>  4.9</div>
            
            <img src="{{item.free}}" alt="" class="img2">
            <div class="text-end">
            </div>
          </div>
          <div class="mt-2">
            <div class="container distance">
              <div class="row">
                <div class="col-7 ">
                  <h3 class="fw-bold poppins fs-6">{{ item.names }}</h3>
                  <p class="card-text text-dark mt-3">800 sold out of 2,000</p>
                  <div
                    class="progress bg-dange mt-1"
                    role="progressbar"
                    aria-label="Basic example"
                    aria-valuenow="0"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <div
                      class="progress-bar brown"
                      style="width: 40%"
                    ></div>
                  </div>
                  <p class="mb-5 mt-2">
                    Buy Flipflop for:
                    <span style="color: #cc9933">$7:50</span>
                  </p>
                </div>
                <div class="col-5">
                  <p class="f-10">Draw date:26th April</p>
                </div>
              </div>
              <button
              type="submit"
              class="btn btn-dark mb-5 rounded-3 button-reccomend"
              
            >
              Add to cart
              <i class="fa-solid fa-bag-shopping"></i>
            </button>
            </div>
          </div>
        </div>
      </div>
      </div> -->
      </div>

  
