<section>
  <h3 class="poppins fw-bold mt-4 mx-2 move mb-4">Checkout</h3>

    <div class="container">
        <div class="row">
          <div class="d-flex align-items-center justify-content-center">
            <div class="col-4 text-center">
              <a
                class="poppins fw-bold fs-5 text-decoration-none activelink text-dark"
                >Order</a
              >
            </div>
            <div class="col-4 text-center">
              <a class="poppins fw-bold fs-5 text-decoration-none text-dark activelink"
                >Shipping</a
              >
            </div>
            <div class="col-4 text-center">
              <a class="poppins fw-bold fs-5 text-decoration-none text-dark activelink"
                >Payment</a
              >
            </div>
          </div>
          <div class="mt-3">
            <div
              class="progress mx-5"
              role="progressbar"
              aria-label="Basic example"
              aria-valuenow="0"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <div class="progress-bar gold" style="width: 100%"></div>
            </div>
          </div>
    
          <div
            class="d-flex align-items-center justify-content-between flex-wrap mt-5"
          >
                <div class="col-12 col-md-4 text-center mb-3">
                    <button
                      type="submit"
                      class="poppins fw-semibold btn btn-primary px-6"
                      (click)="goBack()"
                    >
                      Back
                    </button>
                  </div>

                  <div class="co1-12 col-md-4 text-center">
                    <h5 class="fw-bold poppins mb-3">Payment method</h5>
                  </div>

            <div class="col-12 col-md-4 text-center">
              <button
                type="submit"
                class="poppins fw-semibold btn btn-primary px-6"
                (click)="goto($event)"
              >
                Done
              </button>
            </div>
          </div>

          <div class="d-flex flex-column mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <div class="col-4 col-md-4 mb-3">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                <label class="form-check-label" for="exampleRadios1">
                                    <h4 class="poppins fw-bold textsize">
                                        Pay with Card
                                    </h4>
                                </label>
                              </div>
                        </div>
                        <div class="col-2 col-md-2">
                            <div class="border text-center w-100 d-inline p-3">

                                <img src="../../../../../../assets/images/visa-logo.svg" alt="" class="img-size">
                            </div>
                        </div>
                        <div class="col-2 col-md-2">

                            <div class="border text-center w-100 d-inline p-3">
                                <img src="../../../../../../assets/images/download (3).png" alt="" class="img-size">

                            </div>
                        </div>
                        <div class="col-2">

                            <div class="border text-center w-100 d-inline p-3">

                                <img src="../../../../../../assets/images/Mastercard.svg" alt="" class="img-size">
                            </div>
                        </div>

                    </div>

                    <!-- <form class="row mt-5">
                        <div class="col-6 mb-3">
                          <label for="exampleInputEmail1" class="form-label poppins fw-bold text-secondary fs-5">Card number</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="col-6 mb-3">
                          <label for="exampleInputPassword1" class="form-label poppins fw-bold text-secondary fs-5">Expiration Date</label>
                          <input type="date" class="form-control text-secondary" id="exampleInputdate1">
                        </div>
                        <div class="col-3 mb-3">
                          <label for="exampleInputPassword1" class="form-label poppins fw-bold text-secondary fs-5">Cvv code</label>
                          <input type="password" class="form-control text-secondary" id="exampleInputPassword1">
                        </div>

                        <div class="col-6 mb-3">
                            <div class="d-flex align-items-center justify-content-center">
                                <a routerLink="" class="mt-5">What is this?</a>
                            </div>
                        </div>
                      </form> -->
                </div>
            </div>
          </div>


          <div class="d-flex flex-column mt-5 mb-4">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex align-items-center justify-content-between">

                        <div class="col-5">
    
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                <label class="form-check-label" for="exampleRadios1">
                                    <h4 class="poppins fw-bold">
                                        Wallet
                                    </h4>
                                </label>
                              </div>
                        </div>
    
                        <div class="col-5">
                            <h5>
                                Make payment from your<br> in-app wallet
                            </h5>
                        </div>

                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
          </div>


          <div class="d-flex mb-5">
            <img src="../../../../../../assets/images/Frame 1507.svg" alt="" style="width: 50px; height: 50px;">

            <h6 class="mx-2 mt-2">We protect your payment information  using encryption to provide bank-level security</h6>
          </div>
        </div>
    </div>
</section>