<section>
    <div class="container-fluid login_page">
      <div class="row">
        <div class="col-md-6 left_pane home_bg login_page">
          <div class="text-center mt6">
            <img [src]="logo1" alt="" class="size"/>
          </div>
        </div>
  
        <div class="col-12 col-md-6 right_pane">
          <div class="container mt-5">
            <div class="col-12" style="margin-top: 15rem;">
              <h1 class="poppins fw-bold  mt-5 text-center" style="color: #CC9933; ">Congratulations ! </h1>
              <h1 class="poppins fw-bold  mt-5 text-center" style="color: #000000 ">Your password has been reset </h1>
  
  
              <div class="col-12 text-center" style="margin-top: 10rem;">
  
                  <form class="mt-2">
                      <div class="mt-4 row">
                          <div class="mt-5text-center">
  
                              <button
                                type="submit"
                                class="poppins fw-semibold  btn btn-primary px-6"
                                (click)="goto($event)"
                                
                              >
                             Okay
                              </button>
                          </div>
  
                      </div>
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
