<section style="margin-bottom: 20rem;">
    <div class="container-fluid">
      <div class="d-flex flex-wrap">
        <div class="car-margin" >
          <img src="../../../assets/images/better rectangle.svg" alt="car" class="car"/>
          <div class="d-flex align-items-center">
            <div class="bottom" >
            <div class="msize">
              <img src="../../../assets/images/Rectangle 952.svg" alt="" class="msize" />
            </div>
            <p class="card-text f-16">
              Buy snickers and stand
              a chance to win
            </p>
            <h6 class="card-text f-22">2023 McLaren</h6>
            <div class="win">
              <button
                type="button"
                class="btn btn-light poppins fw-semibold px-5 padt"
              >
                Win Now
              </button></div>
            </div>
            <!-- <div class="card text-bg-dark">
              <div class="card-img-overlay">
              </div>
            </div> -->
          </div>
        </div>

        <div class="mt-5">
          <h4 class="poppins text-muted t-center fw-normal fs-5 t5">Selling Fast</h4>

          <div
            class="col-12 d-block d-sm-flex align-items-center justify-content-between d-lg-block scroll mt-4 margin"
            
          >
          

              <div class="border px-4 pad mb-3 mx-md-2" *ngFor="let ads of ticketobject">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex flex-column ">
                    <h3 class="poppins-bold text-dark fw-bold">
                      {{ads.sellingfast.rafflead.ticket_name}}
                    </h3>
                    <p class="text-dark f-16">
                      Stand a chance to win <br />2023 ferrari
                    </p>
                    <p class="text-dark f-16">800 sold out of 2,000</p>
                    <div
                      class="progress bg-dange"
                      role="progressbar"
                      aria-label="Basic example"
                      aria-valuenow="70"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <div
                        class="progress-bar brown"
                        style="width: 40%"
                      ></div>
                    </div>
                    <div class="mt-3">

                      <button routerLink="" class="btn btn-dark mt-2 f-16 learn"
                        >Learn More</button
                      >
                    </div>
                  </div>
                  <div class="d-flex">
                    <img
                    src="../../../assets/images/Rectangle 12.svg"
                    alt=""
                    class="border-image"
                  />
                  </div>
                </div>
              </div>

              <div class="border px-4 pad mb-4 mx-md-2">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex flex-column ">
                    <h3 class="poppins-bold text-dark fw-bold">
                      Win Ferrari
                    </h3>
                    <p class="text-dark f-16">
                      Stand a chance to win <br />2023 ferrari
                    </p>
                    <p class="text-dark f-16">800 sold out of 2,000</p>
                    <div
                      class="progress bg-dange"
                      role="progressbar"
                      aria-label="Basic example"
                      aria-valuenow="70"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      <div
                        class="progress-bar brown"
                        style="width: 40%"
                      ></div>
                    </div>
                    <div class="mt-3">

                      <button routerLink="" class="btn btn-dark mt-2 f-16 learn"
                        >Learn More</button
                      >
                    </div>
                  </div>
                  <div class="d-flex">
                    <img
                    src="../../../assets/images/Rectangle 12.svg"
                    alt=""
                    class="border-image"
                  />
                  </div>
                </div>
              </div>

              
         </div>
        </div>
      </div>

      <div class="col-12 mt-2">
        <h3 class="text-start poppins fw-semibold">Recommended</h3>
        <div class="row mt-3">
          <div
            class="col-12 col-md-6 col-lg-3 mb-4 "
            *ngFor="let item of allProducts"
            [routerLink]="['/homepage/index/products/:id']"
            (click)="scrollToTop()"
          >
            <div class="border border-top-0 shadow rounded-4 dash">
              <img
            id="targetedImage"
            class="mx-auto recommend-img"
            alt="targeted picture"
            src="{{ getTargetedImageUrl1() }}"
            
          />
              <div class="recommend">
                <div class="caption star smallbox fw-bold"><i class="fa-sharp fa-solid fa-star" style="color: #fdcc0d;"></i>  4.9</div>
                
                <img id="targetedImage" src="{{ getTargetedImageUrl() }}" alt="Second Picture" class="img2" />
                <div class="text-end">
                </div>
              </div>
              <div class="mt-2">
                <div class="container distance">
                  <div class="row">
                    <div class="col-7 ">
                      <h3 class="fw-bold poppins fs-6">{{ item.product_name }}</h3>
                      <p class="card-text text-dark mt-3">800 sold out of 2,000</p>
                      <div
                        class="progress bg-dange mt-1"
                        role="progressbar"
                        aria-label="Basic example"
                        aria-valuenow="0"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      >
                        <div
                          class="progress-bar brown"
                          style="width: 40%"
                        ></div>
                      </div>
                      <p class="mb-5 mt-2">
                        Buy Flipflop for:
                        <span style="color: #cc9933">{{item.product_price}}</span>
                      </p>
                    </div>
                    <div class="col-5">
                      <p class="f-10">Draw date:26th April</p>
                    </div>
                  </div>
                  <button
                  type="submit"
                  class="btn btn-dark mb-5 rounded-3 button-reccomend"
                  (click)="addtocart(item)"
                  
                >
                  Add to cart
                  <i class="fa-solid fa-bag-shopping"></i>
                </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">

            <a [routerLink]="['index/products']" (click)="scrollToTop()" class="hver fs-4">See All</a>
        </div>
      </div>

            <!------FAQ-->
        <div class="col-12 mt-5">
        
            <div class="row">
              <h3 class="text-start poppins fw-semibold">F.A.Q</h3>
              <!-- <h1 class="text-start text-muted">F.A.Q</h1> -->
              
              <div class="col-12 col-lg-9 mx-6 mt-2">
                <div class="">

                  <div class="container">
                    <div class="wrapper" [ngClass]="{'open': isAccordionOpen(0)}">
                        <button class="toggle" (click)="toggleAccordion(0)">
                          What is AfrPrize and how does it work?
                            <i class="fas fa-plus icon" [ngClass]="{'fa-minus': isAccordionOpen(0)}"></i>
                        </button>
                        <div class="content">
                            <p>AfrPrize is an ecommerce platform that offers a unique lottery experience to its 
                              customers. Every time you purchase an item, you are automatically entered into 
                              a lottery slot for a chance to win exciting prizes</p>
                        </div>
                    </div>
                    <div class="wrapper"[ngClass]="{'open': isAccordionOpen(1)}">
                      <button class="toggle" (click)="toggleAccordion(1)">
                        How are the lottery winners chosen?
                          <i class="fas fa-plus icon" [ngClass]="{'fa-minus': isAccordionOpen(1)}"></i>
                      </button>
                      <div class="content" >
                          <p>The lottery winners are chosen randomly using an automated system. Each entry 
has an equal chance of being selected as a winner</p>
                      </div>
                    </div>
                    <div class="wrapper"[ngClass]="{'open': isAccordionOpen(2)}">
                      <button class="toggle" (click)="toggleAccordion(2)">
                        What is AfrPrize and how does it work?
                          <i class="fas fa-plus icon" [ngClass]="{'fa-minus': isAccordionOpen(2)}"></i>
                      </button>
                      <div class="content" >
                          <p>AfrPrize is an ecommerce platform that offers a unique lottery experience to its 
                            customers. Every time you purchase an item, you are automatically entered into 
                            a lottery slot for a chance to win exciting prizes</p>
                      </div>
                    </div>
                    <div class="wrapper"[ngClass]="{'open': isAccordionOpen(3)}">
                      <button class="toggle" (click)="toggleAccordion(3)">
                        How do I participate in the AfrPrize lottery?
                          <i class="fas fa-plus icon" [ngClass]="{'fa-minus': isAccordionOpen(3)}"></i>
                      </button>
                      <div class="content" >
                          <p>Participating in the AfrPrize lottery is easy! Simply make a purchase on our 
                            website, and you will be automatically entered into the lottery for that specific 
                            item</p>
                      </div>
                    </div>
                    <div class="wrapper"[ngClass]="{'open': isAccordionOpen(4)}">
                      <button class="toggle" (click)="toggleAccordion(4)">
                        Are there any additional costs or fees for entering the lottery?
                          <i class="fas fa-plus icon" [ngClass]="{'fa-minus': isAccordionOpen(4)}"></i>
                      </button>
                      <div class="content" >
                          <p>No, there are no additional costs or fees for entering the AfrPrize lottery. Your 
                            entry is included with your purchase, so you have a chance to win without any 
                            extra expenses</p>
                      </div>
                    </div>
                </div>
                  

                    <!-- <accordion>
                      <accordion-group
                        class="mt-5 border"
                        [panelClass]="customClass"
                      >
                        <button
                          class="btn btn-link justify-content-between d-flex w-100 shadow-none accordion-decoration"
                          accordion-heading
                          type="button"
                        >
                          <div class="pull-left float-left accordion-header">
                            <h4 class="mt-5 poppins fw-normal">
                              What is AfrPrize and how does it work? 
                            </h4>
                          </div>
                          <div class="mt-5">
                            <i class="fa-solid fa-angle-down text-muted"></i>
                          </div>
                        </button>
                        <p class="text-muted">
                          TAfrPrize is an ecommerce platform that offers a unique lottery experience to its 
                          customers. Every time you purchase an item, you are automatically entered into 
                          a lottery slot for a chance to win exciting prizes. 
                        </p>
          
                        <button
                          class="btn btn-primary Inter text-light fw-bold rounded-1 mb-5"
                          type="submit"
                        >
                          Learn more
                        </button>
                      </accordion-group>
          
                      <accordion-group
                        class="border border-bottom-0 border-end-0 border-start-0"
                        [panelClass]="customClass"
                      >
                        <button
                          class="btn btn-link justify-content-between d-flex w-100 shadow-none accordion-decoration"
                          accordion-heading
                          type="button"
                        >
                          <div class="pull-left float-left">
                            <h4 class="mt-5 Gilroy fw-normal">
                              How do I participate in the AfrPrize lottery?
                            </h4>
                           
                          </div>
                          <div class="mt-5">
                            <i class="fa-solid fa-angle-down text-muted"></i>
                          </div>
                        </button>
                        <p class="text-muted">
                          Participating in the AfrPrize lottery is easy! Simply make a purchase on our 
                          website, and you will be automatically entered into the lottery for that specific 
                          item
                        </p>
          
                        <button
                          class="btn btn-primary Inter text-light fw-bold rounded-1 mb-5"
                          type="submit"
                        >
                          Learn more
                        </button>
                      </accordion-group>
          
                      
                      <accordion-group
                        class="border border-bottom-0 border-end-0 border-start-0"
                        [panelClass]="customClass"
                      >
                        <button
                          class="btn btn-link justify-content-between d-flex w-100 shadow-none accordion-decoration"
                          accordion-heading
                          type="button"
                        >
                          <div class="pull-left float-left">
                            <h4 class="mt-5 Gilroy fw-normal">
                              Are there any additional costs or fees for entering the lottery? 
                            </h4>
                          </div>
                          <div class="mt-5">
                            <i class="fa-solid fa-angle-down text-muted"></i>
                          </div>
                        </button>
                        <p class="text-muted">
                          No, there are no additional costs or fees for entering the AfrPrize lottery. Your 
                          entry is included with your purchase, so you have a chance to win without any 
                          extra expenses.
                        </p>
          
                        <button
                          class="btn btn-primary Inter text-light fw-bold rounded-1 mb-5"
                          type="submit"
                        >
                          Learn more
                        </button>
                      </accordion-group>
     
                      <accordion-group
                        class="border border-bottom-0 border-end-0 border-start-0"
                        [panelClass]="customClass"
                      >
                        <button
                          class="btn btn-link justify-content-between d-flex w-100 shadow-none accordion-decoration"
                          accordion-heading
                          type="button"
                        >
                          <div class="pull-left float-left">
                            <h4 class="mt-5 Gilroy fw-normal" >
                              How are the lottery winners chosen?
                            </h4>
                          </div>
                          <div class="mt-5">
                            <i class="fa-solid fa-angle-down text-muted"></i>
                          </div>
                        </button>
                        <p class="text-muted">
                          The lottery winners are chosen randomly using an automated system. Each entry 
                          has an equal chance of being selected as a winner.
                        </p>
          
                        <button
                          class="btn btn-primary Inter text-light fw-bold rounded-1 mb-5"
                          type="submit"
                        >
                          Learn more
                        </button>
                      </accordion-group>
          
              
                      <accordion-group
                        class="mb-5 border border-bottom-0 border-end-0 border-start-0"
                        [panelClass]="customClass"
                      >
                        <button
                          class="btn btn-link justify-content-between d-flex w-100 shadow-none accordion-decoration"
                          accordion-heading
                          type="button"
                        >
                          <div class="pull-left float-left">
                            <h4 class="mt-5 Gilroy fw-normal" >
                              What happens if I win the lottery?
                            </h4>
                          </div>
                          <div class="mt-5">
                            <i class="fa-solid fa-angle-down text-muted"></i>
                          </div>
                        </button>
                        <p class="text-muted">
                          If you win the lottery, congratulations! We will provide instructions on how to 
                          claim your prize. You may need to provide some additional information for 
                          verification purposes, and we will arrange the delivery of your prize.
                        </p>
          
                        <button
                          class="btn btn-primary Inter text-light fw-bold rounded-1 mb-5"
                          type="submit"
                        >
                          Learn more
                        </button>
                      </accordion-group>
                    </accordion> -->
                </div>
              </div>
            </div>
          </div>
        
    
      
    </div>
  
</section>
