<div class="container-fluid" style="margin-bottom: 30.25rem; overflow-x: hidden;">
  <div class="col-12 mt-4">
    <h3 class="text-start text-dark poppins fw-semibold move">Product List</h3>


    <div class="col-12">
      <div class="mt-3">
        <img src="../../../../assets/images/Half car.svg" alt="car" class="img-fluid car"/>
      </div>

      <div class="bottom">
        <div class="msize">
          <img src="../../../assets/images/Rectangle 952.svg" alt="" class="msize" />
        </div>
        <p class="f-16 mt-2 fw-semibold">
          Buy snickers and stand
          <br class="wrap">
          a chance to win
        </p>
        <h6 class="f-22 fw-semibold">2023 McLaren</h6>
       
        <button
          type="button"
          class="btn btn-light poppins fw-semibold px-5 padt"
        >
          Win Now
        </button>
        </div>

    </div>

    <div class="row mt-2">

      <div
        class="col-12 col-md-6 col-lg-3 mb-4 ms-auto"
        *ngFor="let item of allProducts"
        [routerLink]="['/homepage/index/products/products-detail']"
        (click)=" scrollToTop()"
        
      >
        <div class="border border-top-0 shadow rounded-4 dash">
          <img
            id="targetedImage"
            class="mx-auto recommend-img"
            alt="targeted picture"
            src="{{ getTargetedImageUrl1() }}"
            
          />
          <div class="recommend">
            <div class="caption star smallbox fw-bold"><i class="fa-sharp fa-solid fa-star" style="color: #fdcc0d;"></i>  4.9</div>
            

            <img id="targetedImage" src="{{ getTargetedImageUrl() }}" alt="Second Picture" class="img2" />
            <!-- <img src="{{item.free}}" alt="" class="img2"> -->
            <div class="text-end">
            </div>
          </div>
          <div class="mt-2">
            <div class="container distance">
              <div class="row">
                <div class="col-7 ">
                  <h3 class="fw-bold poppins fs-6">{{ item.product_name }}</h3>
                  <p class="card-text text-dark mt-3">800 sold out of 2,000</p>
                  <div
                    class="progress bg-dange mt-1"
                    role="progressbar"
                    aria-label="Basic example"
                    aria-valuenow="0"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    <div
                      class="progress-bar brown"
                      style="width: 40%"
                    ></div>
                  </div>
                  <p class="mb-5 mt-2">
                    Buy Flipflop for:
                    <span style="color: #cc9933">₦{{item.product_price}}</span>
                  </p>
                </div>
                <div class="col-5">
                  <p class="f-10">Draw date:26th April</p>
                </div>
              </div>
              <button
              type="submit"
              class="btn btn-dark mb-5 rounded-3 button-reccomend"
              (click)="addtocart(item)"
              
            >
              Add to cart
              <i class="fa-solid fa-bag-shopping"></i>
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
