<section>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-2 col-lg-3 profile_page">
        <div class="d-flex flex-column mt-3">
          <div class="d-flex align-items-center justify-content-center flex-column" >
            <div class="upload">
              <form (submit)="updateProfileImage($event)">
                <input type="file" (change)="onFileSelected($event)" accept="image/*" >
                <i class = "fa fa-camera" style = "color: #fff;"></i>
                <!-- <button type="submit">Upload</button> -->
              </form>

            </div>

            <!-- <div *ngIf="selectedImage" class="size mb-5">
              <img [src]="selectedImage || defaultImage" alt="Preview" class="size rounded-pill">
            </div>
            <img src="../../../assets/images/Ellipse 15.svg" alt="" class="size"> -->

            <div *ngIf="selectedImage; else defaultImageSection" class="size mb-2">
              <img [src]="selectedImage" alt="Preview" class="size rounded-pill">
            </div>
            <ng-template #defaultImageSection>
              <img src="../../../assets/images/Ellipse 15.svg" alt="" class="size">
            </ng-template>
            <h4 class="mt-5 f20" >{{profileobject}} {{userobject}}</h4>
            <h6 class="f16">{{country}}</h6>
          </div>




          <div class="navbar-nav p-2 mt-3">



            <li class="nav-item ms-4">
              <a class="d-flex nav-link poppins f-10 active_link" [routerLinkActive]="['active_link']"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-solid fa-wallet mt-2 mx-2"></i>
                <h4 class="ms-2 disa">Wallet</h4>
              </a>
            </li>

            <li class="nav-item ms-4">
              <a class="d-flex nav-link poppins text-dark f-10" [routerLink]="['orders']"
                >
                <i class="fa-solid fa-recycle mt-2 mx-2"></i>
                <h4 class="ms-2 disa">My Orders</h4>
              </a>
            </li>

            <li class="nav-item ms-4">
              <a class="nav-link poppins text-dark f-10 d-flex" routerLinkActive="active_link"
              (click)="goto()"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-sharp fa-solid fa-headset mt-2 mx-2"></i>
                <h4 class="ms-2 disa poppins">Support</h4>
              </a>
            </li>

            <li class="nav-item ms-4 poppins">
              <a class="d-flex nav-link Inter text-dark f-10" [routerLink]="['Cpassword']"
                routerLinkActive="active_link" [routerLinkActiveOptions]="{ exact: true }"><i
                  class="fa-solid fa-lock mt-2 mx-2"></i>
                <h4 class="ms-2 disa">Change Password</h4>
              </a>
            </li>


            <div class="bottom">

              <li class="nav-item ms-4">
                <a class="d-flex nav-link tex-dark f-10"  routerLinkActive="active_link"
                
                (click)="signout()"
                  [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-right-from-bracket mt-2 mx-2"></i>
                  <h4 class="ms-2 disa">Signout</h4>
                </a>
              </li>
              <li class="nav-item ms-4">
                <a class="d-flex nav-link tex-dark f-10 pointer" routerLinkActive="active_link"
                (click)="deleteaccount()"
                  [routerLinkActiveOptions]="{ exact: true }"><i class="fa-solid fa-right-from-bracket mt-2 mx-2"></i>
                  <h4 class="ms-2 disa">Delete my account</h4>
                </a>
              </li>
            </div>

          </div>
        </div>
      </div>

      <div class="mt-2 col-10 col-lg-9 ">
        <div class="container">

          <div class="row">
            <div class="d-flex align-items-center justify-content-start mt-4">
              <div class="card card-size pe-5 pb-5 pt-3">
                <div class="card-body text-light">
                  <h5 class="fw-normal">Balance</h5>
                  <h2 class="card-text poppins-bold fw-bold">NGN {{ balance | number: '1.2-2' }}</h2>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">

              <div class="row">
                <div class="mt-4 col-6 center-text">

                  <button type="submit" (click)="withdraw()" class="poppins fw-semibold  btn btn-secondary px-6" data-bs-toggle="modal" data-bs-target="#withdrawModal" >
                    Withdraw
                  </button>


                  <div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content withdrawal-modal">
                        <div class="modal-header">
                          <h1 class="modal-title fs-6" id="withdrawModalLabel">Withdraw funds</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form [formGroup]="withdrawForm" >
                            <div class="mb-3">
                              <label for="withdrawalAmount" class="form-label">Withdrawal Amount</label>
                              <input type="number" class="form-control" id="withdrawalAmount" formControlName="withdrawalAmount" placeholder="Enter amount">
                            </div>
                            <div class="mb-3">
                              <label for="bankSelect" class="form-label">Select Bank</label>
                              <select class="form-select" id="bankSelect" formControlName="bankSelect" [(ngModel)]="selectedBank">
                                <option selected disabled>Select bank</option>
                                <option *ngFor="let bank of banks" [value]="bank.code">{{ bank.name }}</option>
                              
                              </select>
                            </div>
                            <div class="mb-3">
                              <label for="accountNumber" class="form-label">Account Number</label>
                              <input type="text" class="form-control" id="accountNumber" formControlName="accountNumber" placeholder="Enter account number">
                            </div>

                            <div *ngIf="verificationErrorMessage" class="alert alert-danger mt-3" role="alert">
                              {{ verificationErrorMessage }}
                            </div>
                            <div class="text-center">
                              <button type="button" class="btn btn-primary" (click)="onsubmit()" >Withdraw</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>


                  
                </div>
                  <div class="mt-4 col-3 ms-3">
  
                    <button type="submit" class="poppins fw-semibold  btn btn-secondary px-6"  data-bs-toggle="modal" data-bs-target="#depositModal">
                      Deposit
                    </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="depositModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content deposit-modal">
                        <div class="modal-header">
                          <div class="row w-100">
                            <div class="col-6">
                              <h1 class="modal-title fs-6 " id="depositModalLabel">Deposit funds</h1>
                            </div>
                            <div class="col-6">
                              <h1 class="modal-title fs-6 " id="depositModalLabel">Cash:NGN {{ balance | number: '1.2-2' }} </h1>
                            </div>
                          </div>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                          <form  #depositForm>
                            <div class="mb-3">
                              <label for="amountInput" class="form-label text-white">Amount</label>
                              <input type="number" class="form-control" id="amountInput" placeholder="Enter amount">
                            </div>
                            <div class="mb-3">
                              <label for="paymentMethodSelect" class="form-label">Payment Method</label>
                              <select class="form-select" id="paymentMethodSelect">
                                <option selected disabled>Select payment method</option>
                                <option value="bank">Bank Transfer</option>
                                <option value="card">Credit Card</option>
                                <option value="wallet">E-Wallet</option>
                              </select>
                            </div>
                            <div class="text-center">
                              <button type="submit" class="btn btn-primary" (click)="balancefund()">Deposit</button>
                            </div>
                          </form>
                        </div>
                        <!-- <div class="modal-body">
                          <label for="" class="mx-4">Bank code</label>
                          <input [(ngModel)]="bankCode" placeholder="Bank Code">

                          <label for="" class="mx-4 mt-3">Account Number</label>
                          <input [(ngModel)]="accountNumber"  placeholder="Account Number">
                          <div *ngIf="verificationStatus === true" class="verification-error-message">
                            {{ verificationErrorMessage }}
                          </div>
                        </div> -->
      
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>

            <div class="row mt-6">
              <div class="col-12">
                <h6 class="poppins fw-normal" style="color: #737373B0;">Transaction History</h6>
                <!-- <i class="fa-solid fa-arrow-up-to-line" style="color: #61de70;"></i> -->
              </div>



              
              <div class="mt-2 col-12">
                <div class="d-flex flex-column">
                  
                  <div class="border mb-4 w-75">
                    <div class="d-flex mx-2">
                      <div class="d-flex flex-column">
                        <h5 class="f12 ms-3" style="color: #61de70; margin-top: -1rem;">_</h5>
                        <i class="f12 fa-sharp fa-solid fa-arrow-up mx-2" style="color: #61de70;"></i>
                      </div>
                      <div class="d-flex flex-column">

                        <h6 class="mt-3 f15 fw-bold mx-2">Deposit</h6>
                        <div class="d-flex align-items-center margin">
                          <h3 class="poppins fw-bold mx-2 f-8">Transaction (ID: 02576718)</h3>
                          <h5 class="poppins fw-bold f23">N35,000.00</h5>
                        </div>
                        <p class="mx-2 poppins text-muted f-8 margin">Thursday 16th March 2023</p>

                        <!-- <ng-container *ngFor="let transaction of transactions">
                          <ng-container *ngIf="transaction.payment_provider === 'paystack'">
                            <tr>
                              <td>{{ transaction.date }}</td>
                              <td>{{ transaction.description }}</td>
                              <td>{{ transaction.amount }}</td>
                              <td>{{ transaction.type === 'deposit' ? 'Deposit' : 'Withdrawal' }}</td>
                            </tr>
                          </ng-container>
                        </ng-container> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mt-2 col-12">
                <div class="d-flex flex-column">
                  
                  <div class="border mb-4 w-75">
                    <div class="d-flex mx-2">
                      <div class="d-flex flex-column">
                        <h5 class="f12 ms-3" style="color: #61de70; margin-top: -1rem;">_</h5>
                        <i class="f12 fa-sharp fa-solid fa-arrow-up mx-2" style="color: #61de70;"></i>
                      </div>
                      <div class="d-flex flex-column">

                        <h6 class="mt-3 f15 fw-bold mx-2">Deposit</h6>
                        <div class="d-flex align-items-center margin">
                          <h3 class="poppins fw-bold mx-2 f-8">Transaction (ID: 02576718)</h3>
                          <h5 class="poppins fw-bold f23">N35,000.00</h5>
                        </div>
                        <p class="mx-2 poppins text-muted f-8 margin">Thursday 16th March 2023</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mt-2 col-12">
                <div class="d-flex flex-column">
                  
                  <div class="border mb-4 w-75">
                    <div class="d-flex mx-2">
                      <div class="d-flex flex-column">
                      <i class="f12 fa-sharp fa-solid fa-arrow-down mx-2 mt-2" style="color: #ff4700;"></i>
                        <h5 class="f12 ms-3" style="color: #ff4700; margin-top: -2rem;">_</h5>
                      </div>
                      <div class="d-flex flex-column">

                        <h6 class="mt-3 f15 fw-bold mx-2">Withdrawal</h6>
                        <div class="d-flex align-items-center margin">
                          <h3 class="poppins fw-bold mx-2 f-8">Transaction (ID: 2908744)</h3>
                          <h5 class="poppins fw-bold f23">N500,000.00</h5>
                        </div>
                        <p class="mx-2 poppins text-muted f-8 margin">Thursday 16th March 2023</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mt-2 col-12">
                <div class="d-flex flex-column">
                  
                  <div class="border mb-4 w-75">
                    <div class="d-flex mx-2">
                      <div class="d-flex flex-column">
                        <h5 class="f12 ms-3" style="color: #61de70; margin-top: -1rem;">_</h5>
                        <i class="f12 fa-sharp fa-solid fa-arrow-up mx-2" style="color: #61de70;"></i>
                      </div>
                      <div class="d-flex flex-column">

                        <h6 class="mt-3 f15 fw-bold mx-2">Deposit</h6>
                        <div class="d-flex align-items-center margin">
                          <h3 class="poppins fw-bold mx-2 f-8">Transaction (ID: 02576718)</h3>
                          <h5 class="poppins fw-bold f23">N35,000.00</h5>
                        </div>
                        <p class="mx-2 poppins text-muted f-8 margin">Thursday 16th March 2023</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="mt-2 col-12">
                <div class="d-flex flex-column">
                  
                  <div class="border mb-4 w-75">
                    <div class="d-flex mx-2">
                      <div class="d-flex flex-column">
                      <i class="f12 fa-sharp fa-solid fa-arrow-down mx-2 mt-2" style="color: #ff4700;"></i>
                        <h5 class="f12 ms-3" style="color: #ff4700; margin-top: -2rem;">_</h5>
                      </div>
                      <div class="d-flex flex-column">

                        <h6 class="mt-3 f15 fw-bold mx-2">Withdrawal</h6>
                        <div class="d-flex align-items-center margin">
                          <h3 class="poppins fw-bold mx-2 f-8">Transaction (ID: 2908744)</h3>
                          <h5 class="poppins fw-bold f23">N500,000.00</h5>
                        </div>
                        <p class="mx-2 poppins text-muted f-8 margin">Thursday 16th March 2023</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
           
              
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</section>