.img-fluid{
    width: 20% !important;
}


.empty-draws-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh; /* Adjust the height as needed */
  }
  
  .empty-draws-message {
    text-align: center;
    font-size: 1.2rem; /* Adjust the font size as needed */
    color: #555; /* Adjust the color as needed */
  }


.carousel-item img {
    margin: 0 auto;
  }

  .carousel-indicators button {
    background-color: #D9D9D980;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }
  
  .carousel-indicators .active {
    background-color: #fff;
  }


  .Images{
    width: 80%;
  }
  

  .bottom{
    padding-bottom: 8rem;
}
.content{
    margin-top: 4rem;
    margin-right: 48rem;
}


.padt:hover{
    font-size: 22px;
}

  
.f-16{
    color: white;
    font-size: 16px;
    margin-right: 46rem;
}
.f-22{
    color: white;
    margin-right: 46rem;
    font-size: 22px;
}

.f-10{
    font-size: 19px;
}

.margin{
    margin-left: 11rem;
    width: 70%;
    
}

.brown{
    background: #CC9933;
    
}

.active{
    color: #CC9933;
}


.center-text{
    text-align: center;
}



.padt{
    position: absolute;
   left: 60rem;
   top: 29rem;
   width: 12rem;
   
   }

   .progress{
    height: 8px;
   }
   



.captions{
    position: absolute;
    top: 15rem;
    left: 14rem;
}

.img1{
    width: 9rem
}

  


@media (min-width: 320px) and (max-width: 767px) {

    

    .padt{
        position: absolute;
       left: 14rem;
       top: 7rem;
       width: 6rem;
       }
       
      
    
  
    
    .img1{
        width: 2rem
    }





    .captions{
        position: absolute;
        top: 9rem;
        left: 10rem;
    }

    

    .f-10{
        font-size: 9px;
    }


    .Images{
        width: 100%;
      }
 

    .margin{
        margin-left: 1rem;
        width: 100%;
    }


    .img {
        width: 30px;
        object-fit: cover;
      }

      
     


        .captions{
            position: absolute;
            top: 4rem;
            left: 3rem;
        }
        
        
        .mx-5{
            margin-left: 0rem !important;
            margin-right: 0rem !important;
        }
        
    }
    
    
    @media (min-width: 768px) and (max-width: 999px) {

    
   
    .img {
        width: 60px;
        object-fit: cover;
      }


      .padt{
        position: absolute;
       left: 29rem;
       top: 12rem;
       width: 8rem;
       }
       
    
    
    
  
    
    .img1{
        width: 4rem
    }
    


    
    .bottom{
        padding-bottom: 3rem;
    }

    .margin{
        margin-left: 0rem;
        width: 100%;
    }



    .captions{
        position: absolute;
        top: 7rem;
        left: 8rem;
    }

    

    .f-10{
        font-size: 11px;
    }
    
  
  }


  @media (min-width: 800px) and (max-width: 1439px) {

    .padt{
        position: absolute;
       left: 39rem;
       top: 17rem;
       width:11rem;
       }
       
    
    
       .f-10{
        font-size: 15px;
    }
    
    
  
    
    .img1{
        width: 5rem
    }





    .captions{
        position: absolute;
        top: 9rem;
        left: 10rem;
    }

    

    


  }

  