<section class="margin-bottom=20rem">
  <h3 class="poppins fw-bold mt-4 mx-2 move mb-4">Checkout</h3>

  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center justify-content-center">
        <div class="col-4 text-center">
          <a
            class="poppins fw-bold fs-5 text-decoration-none activelink text-dark"
            >Order</a
          >
        </div>
        <div class="col-4 text-center">
          <a class="poppins fw-bold fs-5 text-decoration-none text-dark"
            >Shipping</a
          >
        </div>
        <div class="col-4 text-center">
          <a class="poppins fw-bold fs-5 text-decoration-none text-dark"
            >Payment</a
          >
        </div>
      </div>
      <div class="mt-3">
        <div
          class="progress bg-dange mx-2"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          <div class="progress-bar gold" style="width: 25%"></div>
        </div>
      </div>

      <div
        class="d-flex align-items-center justify-content-between flex-wrap mt-3"
      >
        <div class="col-12 col-md-6">
          <div class="d-flex flex-column">
            <h4 class="text-start fw-bold poppins">
              Order review & Billing summary
            </h4>
            <h6 class="text-start poppins mt-3">{{totalItem}} items in cart</h6>
          </div>
        </div>
        <div class="col-12 col-md-6 text-end mb-3">
          <button
            type="submit"
            class="poppins fw-semibold btn btn-primary px-6"
            (click)="goto($event)"
          >
            Next
          </button>
        </div>
      </div>


      <div class="row mt-4">

          <div class="col-12 col-lg-5">

      
            <div class="mt-2 col-12">
              <div
                class="border rounded-1 mb-5 w-100 px-2"
                *ngFor="let item of products; let i = index"
              >
                <div class="row">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <img
                        src="{{ getTargetedImageUrl1() }}"
                          alt=""
                          class="img-size mx-3"
                        />
                        <div
                          class="d-flex flex-column m6"
                        >
                          <h5 class="poppins fw-semibold mt-3 textsize">
                            {{item.product_name}}<br />
                              {{item.product_name}}
                          </h5>
    
                          <h6 class="poppins fw-bold m5">
                            {{item.product_price}}
                          </h6>
                        </div>

                    </div>
                    <div class="d-flex mb-2 m6">
                        <div
                          class="d-flex flex-column mt-3"
                        >
                        <div class="form-check ms-5 mb-5">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  
                        </div>

                            <div class="d-flex m5">
                                <button
                              class="btn-secondary rounded-3 p1"
                              type="button"
                              (click)="decrement()"
                            >
                            -
                            </button>
                            <p class="poppins fw-semibold ms-4 t2">{{count}}</p>
                            <button
                              class="btn-secondary rounded-3 p1 ms-3"
                              type="button"
                              (click)="increment()"
                            >
                                +
                            </button>
                          </div>
                        </div>

                    </div>
                  </div>
                </div>
          
              </div>
            </div>
            <!-- <div class="mt-2 col-12">
              <div
                class="border rounded-1 mb-5 w-100 px-2"
              >
                <div class="row">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <img
                          src="../../../assets/images/Rectangle 41.svg"
                          alt=""
                          class="img-size mx-3"
                        />
                        <div
                          class="d-flex flex-column m6"
                        >
                          <h5 class="poppins fw-semibold mt-3 textsize">
                            Cotton shirt Regular Fit<br />
                            Cotton shirt Regular Fit
                          </h5>
    
                          <h6 class="poppins fw-bold m5">
                            $20
                          </h6>
                        </div>

                    </div>
                    <div class="d-flex mb-2 m6">
                        <div
                          class="d-flex flex-column mt-3"
                        >
                        <div class="form-check ms-5 mb-5">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  
                        </div>

                            <div class="d-flex m5">
                                <button
                              class="btn-secondary rounded-3 p1"
                              type="button"
                              (click)="decrement()"
                            >
                            -
                            </button>
                            <p class="poppins fw-semibold ms-4 t2">{{count}}</p>
                            <button
                              class="btn-secondary rounded-3 p1 ms-3"
                              type="button"
                              (click)="increment()"
                            >
                                +
                            </button>
                          </div>
                        </div>

                    </div>
                  </div>
                </div>
          
              </div>
            </div>
            <div class="mt-2 col-12">
              <div
                class="border rounded-1 mb-5 w-100 px-2"
              >
                <div class="row">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <img
                          src="../../../assets/images/Rectangle 41.svg"
                          alt=""
                          class="img-size mx-3"
                        />
                        <div
                          class="d-flex flex-column m6"
                        >
                          <h5 class="poppins fw-semibold mt-3 textsize">
                            Cotton shirt Regular Fit<br />
                            Cotton shirt Regular Fit
                          </h5>
    
                          <h6 class="poppins fw-bold m5">
                            $20
                          </h6>
                        </div>

                    </div>
                    <div class="d-flex mb-2 m6">
                        <div
                          class="d-flex flex-column mt-3"
                        >
                        <div class="form-check ms-5 mb-5">
                          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                  
                        </div>

                            <div class="d-flex m5">
                                <button
                              class="btn-secondary rounded-3 p1"
                              type="button"
                              (click)="decrement()"
                            >
                            -
                            </button>
                            <p class="poppins fw-semibold ms-4 t2">{{count}}</p>
                            <button
                              class="btn-secondary rounded-3 p1 ms-3"
                              type="button"
                              (click)="increment()"
                            >
                                +
                            </button>
                          </div>
                        </div>

                    </div>
                  </div>
                </div>
          
              </div>
            </div> -->
    
              
            
            </div>
            <div class="c0l-12 col-lg-1"></div>
            <div class="col-12 col-lg-6 text">
              <div class="">
        
                  <div class="d-flex align-items-center justify-content-end mt-5">
                      <h5 class="ms-6 poppins text-muted">Sub Total</h5>
                      <h6 class="poppins fw-bold">₦{{grandTotal}}</h6>
        
                  </div>
        
                  <div class="d-flex align-items-center justify-content-end mt-3">
                      <h5 class="ms-7 poppins text-muted">Delivery Fee</h5>
                      <h6 class="poppins fw-bold">$10</h6>
        
                  </div>
        
                  <div class="mt-3 mx-5">
                      <div class="progress mx-5" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                          <div class="progress-bar" style="width: 0%"></div>
                        </div>
        
                  </div>
        
                  <div class="d-flex align-items-center justify-content-end mt-5">
                      <h3 class="ms-6 poppins fw-bold">Total</h3>
                      <h4 class="poppins fw-bold">₦{{Total}}</h4>
        
                  </div>
        
                  <div class="d-flex align-items-center justify-content-center mb-5">
        
  
                  </div>
              </div>
        
            </div>
      
          </div>
      </div>

  </div>
</section>
